.svn
.hg
.cvs
.app
.DS_Store


# osx
*.app
*.mode1v3
*.pbxuser
.DS_Store
build/
xcuserdata/
DerivedData/
project.xcworkspace

# vs2010
ipch/
obj/
*.sdf

*.mp4
*.mov
*.bin
*.zip
rec/
*.fbnm
*.idx
exported/

*.tif
*.ply

*.opensdf
*.bmp
bin/data/logs/
